.container {
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.col {
  width: 306px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.game {
  display: flex;
  flex-flow: row wrap;
  border: 3px solid #999;
  button {
    width: 60px;
    height: 60px;
    border: none;
    font-size: 15px;
  }
}