.gallows {
  position: relative;
  min-height: 340px;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #000;
  .line {
    position: absolute;
    background-color: #000;
  }
  .top {
    width: 200px;
    top: 10px;
    left: 50%;
    height: 5px;
    transform: translateX(-50%);
  }
  .rope {
    width: 5px;
    height: 30px;
    top: 10px;
    left: 69%;
  }
  .center {
    width: 5px;
    height: 300px;
    top: 10px;
    left: 29%;
  }
  .bottom {
    width: 100px;
    bottom: 28px;
    left: 30%;
    height: 5px;
    transform: translateX(-50%);
  }
  .head {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 5px solid #000;
    background-color: transparent;
    top: 38px;
    left: 64.6%;
  }
  .body {
    width: 5px;
    height: 85px;
    top: 85px;
    left: 69%;
  }
  .lHand {
    width: 70px;
    height: 5px;
    top: 98px;
    right: 30%;
    transform: rotate(15deg);
  }
  .rHand {
    width: 70px;
    height: 5px;
    top: 98px;
    right: 17%;
    transform: rotate(-15deg);
  }
  .lFoot {
    width: 100px;
    height: 5px;
    top: 210px;
    right: 24.7%;
    transform: rotate(-65deg);
  }
  .rFoot {
    width: 100px;
    height: 5px;
    top: 210px;
    right: 16.3%;
    transform: rotate(65deg);
  }
}
.question {
  margin: 20px 0;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.words {

}
.keyboard {
  width: fit-content;
  margin: 0 auto;
  button {
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #156F5B;
    color: #fff;
    margin: 4px;
    font-size: 35px;
    text-transform: uppercase;
    width: 50px;
    height: 60px;
    display: inline-block;
    transition: all 0.3s;
    text-align: center;
    border-radius: 3px;
    &:hover {
      background-color: #0e4d3f;
    }
  }
}