h3 {
  font-weight: 500;
  margin-bottom: 30px;
}

.container {
  margin: 70px auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  img {
    border-radius: 50px;
    width: 400px;
  }
  p {
    width: 85%;
  }
}

.text {
  margin-left: 40px;
  .socicons {
    a {
      margin-right: 15px;
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

progress {
  position: relative;
  width: 350px;
  height: 36px;
  accent-color: #156F5B;
  color: #156F5B;
  &::-webkit-progress-value {
    background-color: #156F5B;
  }
  &::-moz-progress-bar {
    background-color: #156F5B;
  }
  &:before {
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0;
    position:absolute;
    color: #fff;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}