.navbar {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar_logo {
    width: 111px;
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: 400;
    li {
      a {
        padding: 13px 20px;
        &:global.active {
          position: relative;
          font-weight: 500;
          &::after {
            content: '';
            position: absolute;
            background: #156F5B;
            height: 2px;
            width: 90%;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}