.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  margin: 0 auto;
  .params {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  input[type="text"] {
    min-width: 100%;
  }
  input[type="number"] {
    min-width: 100px;
    width: 100px;
  }
  label {
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    user-select: none;
    width: calc(50% - 30px);
    border: 1px solid #156F5B;
    color: #156F5B;
    &.active {
      color: #fff;
      background-color: #156F5B;
      input {
        filter: sepia(100%) brightness(80%) hue-rotate(70deg) saturate(230%) contrast(170%);
      }
    }
  }
  .btn {
    font-size: 16px !important;
    &:disabled {
      background-color: #a5a5a5;
      cursor: default;
    }
  }
}