.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  margin: 0 auto;
  .params {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  input[type=text] {
    width: 100%;
  }
  label {
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    width: calc(50% - 30px);
    font-size: 1.2rem;
    border: 1px solid #156F5B;
    color: #156F5B;
    &.active {
      color: #fff;
      background-color: #156F5B;
      input {
        filter: sepia(100%) brightness(80%) hue-rotate(70deg) saturate(230%) contrast(170%);
      }
    }
  }
}