body {
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #156F5B;
    border-radius: 10px;
  }
  background: #eee;
}
 
a {
  text-decoration: none;
  color: #156F5B;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.inner {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='text'], input[type='email'], input[type='number'], textarea {
  box-sizing: border-box;
  width: 400px;
  font-family: "Poppins";
  max-width: 400px;
  max-height: 100px;
  min-width: 400px;
  border: 1px solid #0201011A;
  margin-bottom: 15px;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 15px;
  background-color: #FAFAFA;
  outline-color: #156F5B;
  &::placeholder {
    color: #aaa;
  }
  &:focus, &:active {
    background: #fff;
  }
}

input[type="submit"] {
  font-size: 16px;
  font-family: 'Poppins';
}

textarea {
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    cursor: default;
    background-color: #156F5B;
    border-radius: 10px;
  }
}

p {
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 65px;
  line-height: 1.4;
}

h2 {
  font-size: 44px;
  text-align: center;
}

.btn {
  cursor: pointer;
  border: none;
  user-select: none;
  background-color: #156F5B;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  transition: all .3s;
  text-align: center;
  border-radius: 3px;
  &:disabled {
    background-color: #ccc;
    cursor: default;
  }
}